<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
    <link rel="Stylesheet" href="style.css" />
</head>
<body class="add-person-page">
    <h1>Person Form</h1>

    <form method="POST" action="/person/add">
        <input placeholder="First name" name="firstName" />
        <input placeholder="Last name" name="lastName" />
        <input placeholder="Email" name="email" />
        <button type ="submit">Add Person</button>
    </form>
</body>
</html>