<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Person Listings</title>
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body class="person-list-page">
    <h1>Person List</h1>

    <table>
      {{#persons}}
        <tr>
            <td>{{person_id}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{created_on}}</td>
            <td><a href="/person/edit/{{person_id}}">Edit</a></td>
            <td>
                <form method="POST" action="person/delete/{{person_id}}">
                    <button type="submit">Delete person</button>
                </form>
            </td>
        </tr>
      {{/persons}}
    </table>
  </body>
</html>
